@import "tailwindcss";

:root {
  --primary-light: #4791db;
  --primary-main: #1976d2;
  --primary-dark: #1b5992;

  --secondary-light: #e33371;
  --secondary-main: #dc004e;
  --secondary-dark: #9a0036;

  --error-light: #e57373;
  --error-main: #f44336;
  --error-dark: #d32f2f;

  --warning-light: #ffb74d;
  --warning-main: #ff9800;
  --warning-dark: #f57c00;

  --info-light: #64b5f6;
  --info-main: #2196f3;
  --info-dark: #1976d2;

  --success-light: #99d49c;
  --success-main: #67ce6a;
  --success-dark: #39b940;
}

@layer utilities {
  /* Backgrounds */
  .bg-primary { background-color: var(--primary-main); }
  .bg-primary-light { background-color: var(--primary-light); }
  .bg-primary-dark { background-color: var(--primary-dark); }
  .bg-secondary { background-color: var(--secondary-main); }
  .bg-secondary-light { background-color: var(--secondary-light); }
  .bg-secondary-dark { background-color: var(--secondary-dark); }
  .bg-error { background-color: var(--error-main); }
  .bg-warning { background-color: var(--warning-main); }
  .bg-info { background-color: var(--info-main); }
  .bg-success { background-color: var(--success-main); }

  /* Textos */
  .text-primary { color: var(--primary-main); }
  .text-primary-light { color: var(--primary-light); }
  .text-primary-dark { color: var(--primary-dark); }
  .text-secondary { color: var(--secondary-main); }
  .text-secondary-light { color: var(--secondary-light); }
  .text-secondary-dark { color: var(--secondary-dark); }
  .text-error { color: var(--error-main); }
  .text-warning { color: var(--warning-main); }
  .text-info { color: var(--info-main); }
  .text-success { color: var(--success-main); }

  /* Bordes */
  .border-b-primary-light {
    border-bottom: 1px solid var(--primary-light);
  }
  .border-b-error {
    border-bottom: 1px solid var(--error-main);
  }
  .border-primary-light {
    border: 1px solid var(--primary-light);
  }
  .border-error {
    border: 1px solid var(--error-main);
  }
  /* Focus */
  .focus\:border-primary:focus {
    border-color: var(--primary-main);
  }

  .backdrop-blur-sm {
    backdrop-filter: blur(8px);
  }
  
  .backdrop-saturate-150 {
    backdrop-filter: saturate(150%);
  }
  
  .bg-opacity-90 {
    --tw-bg-opacity: 0.9;
  }
}
